@model IEnumerable<Technician>
@{
    ViewBag.Title = "Delete Technician";
}

<body>
    <h1>Delete Technician</h1>
    <br />
    <h2>Do you want to delete?</h2>
    <form>
        <input type="submit" value="Yes" />
        <input type="submit" value="No" />
    </form>
</body>
