@model IEnumerable<Product>
@{
    ViewBag.Title = "Add Product";
}

<body>
    <h1>Add Product</h1>
    <form asp-action="Add" method="post">
        <label for="code">Code</label><br />
        <input type="text" id="code" name="code" value="code" /><br />

        <label for="productName">Name</label><br />
        <input type="text" id="productName" name="productName" value="productName" /><br />

        <label for="price">Yearly Price</label><br />
        <input type="text" id="price" name="price" value="price" /><br />

        <label for="releaseDate">Release Date</label><br />
        <input type="date" id="releaseDate" name="releaseDate" value="releaseDate" /><br />

        <input type="submit" value="Save" />
        <input type="submit" value="Cancel" />
    </form>
</body>
