@model IEnumerable<Product>
@{
    ViewBag.Title = "Delete Product";
}

<body>
    <h1>Delete Product</h1>
    <br />
    <h2>Do you want to delete?</h2>
    <form asp-action="Delete" method="post">
        <input type="submit" value="Yes" />
        <input type="submit" value="No" />
    </form>
</body>
